body {
    background-color: rgb(246, 246, 223);
    margin: 0;
}
.barnav {
    background-color: goldenrod;
    width:auto;
    height: 50px;
    margin: 0 -20px;
    
    
}
.nav {
    float: left;
    
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.nav p {
    margin-left: 30px;
}
.nava {
    float: right;
    margin-top: 16px;
    text-align: right;
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.right {
    margin: 0 30px;
}

.parent {
    clear: both;
}

.content {
    clear: both;
    margin-top: 20px;
    

}

.parent{
    
    clear: both;
    margin-left: 12%;
    
}

.content {
    
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
    
}

.margin {
    background-color: whitesmoke;
    border: 3px solid goldenrod;
    width: 250px;
    text-align: center;
    border-radius: 2px;
    float: left;
    margin: 0 20px;
}

.title {
    font-size: 22px;
    text-align: left;
    margin-left: 10px;
}

.words {
    max-width: 200px;
    margin-left: 20px;
    text-align: left;
}


.more {
    color: white;
    padding: 20px auto;
    background-color: goldenrod;
    border-color: goldenrod;
    border-radius: 1px;
    border-width: 3px;
    border-style: none;
    padding: 6px 80px;
    margin-bottom: 30px;
}